body {
    font-family: 'lato', sans-serif;
}
.logo{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 10vw;
    max-width: 120px;
    height: auto;


}
nav {
    background-color: rgb(53, 6, 241);
    color: rgb(246, 246, 247);
    padding: 20px 50px;
}
.navTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search {
    display: flex;
    align-items: center;
    background-color: dimgray;
    padding: 10px 20px;
    border-radius: 10px;
}
